.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* version smartphone */

@media all and (max-width:419px) {

  .container.grey {
    background-color: #9e9e9e;
  }

  /* div lezioni  */
  .row {
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    float: none;
    width: 90%;
    align-self: center;
    font-size: 1.5em;
    padding: 10px 0;
  }

  .row h1 {
    font-size: 2.5em;
  }

  /* /div lezioni */

  /* sezione come funziona (steps) */
  #steps {
    margin-top: 60px;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 90%;
    font-size: 1.5em;
    padding: 10px 0;
  }
  /* /sezione come funziona (steps) */


  /* sezione perche cademi (why) */
  #why {
    margin-top: 60px;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    float: none;
    width: 90%;
    font-size: 1.5em;
    padding: 10px 0;
  }
  /* /sezione perche cademi (why) */

}




/* version tablet */
@media all and (max-width:768px) {

  .container.grey {
    background-color: #db0e63;
  }

  /* div lezioni  */
  .row {
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    float: none;
    width: 80%;
    align-self: center;
    font-size: 1.5em;
    padding: 10px 0;
  }

  .row h1 {
    font-size: 3em;
  }

  /* /div lezioni */

  /* sezione come funziona (steps) */
  #steps {
    margin-top: 60px;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 80%;
    font-size: 1.5em;
    padding: 10px 0;
  }
  /* /sezione come funziona (steps) */


  /* sezione perche cademi (why) */
  #why {
    margin-top: 60px;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    float: none;
    width: 80%;
    font-size: 1.5em;
    padding: 10px 0;
  }
  /* /sezione perche cademi (why) */

}